#monTableau, #boutons{
    display: flex;
    justify-content: center;
}

button{
    margin: 0.5em;
}

th, td{
    text-align: center;
    border: 1px black solid;
}

th:hover{
    cursor: pointer;
}